/* reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;  
} 

.container-1 {
    width: 1024px;
    height: 100px;;
    margin: 20px auto;
}

.logo > img {
    width: auto;
    height: 60px;
    padding-right: 1em;
    border-right: 1px solid lightgray;
}

.container-2 {
    position: relative;
    width: 1024px;
    height: 500px;
    background-color: yellow;
    margin: 20px auto;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.content {
    color: white;
    position: absolute;
    text-transform: uppercase;
    bottom: 60px;
    left: 40px;
}

.hidden {
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    display: inline-block;
}

 ul li a {
    text-decoration: none;
    color: grey;
}

.container-3 {
    width: 1024px;
    height: 620px;
    margin: 20px auto;
}

.grey {
    color: grey;
}

.top {
    width: 100%;
    height: 80px;
}

.left {
    float: left;
    width: 25%;
    height: 500px;
    margin-top: 20px;
}

.center {
    float: left;
    background-color: yellow;
    width: 48%;
    height: 500px;
    margin: 20px auto;
} 

.center img {
    object-fit: cover;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.right {
    float: right;
    width: 25%;
    height: 500px;
    margin-top: 20px;
}

.footer-content {
    height: 80px;
    width: 1024px;
    margin: 20px auto;
}

h4 {
    text-align: center;
}

.heart {
    color: red;
}

